<div class="row">
  <div class="col-xs-12">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <p><strong>Cuisine: </strong><%= @restaurant.category %></p>
    <p><strong>Phone: </strong><%= @restaurant.phone_number %></p>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Reviews</h2>
  </div>
</div>
<div class="row">
  <% @restaurant.reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card">
        <p><%= review.content %></p>
        <p>Rating: <strong><%= review.rating %></strong></p>
      </div>
    </div>
  <% end %>
</div>
